:root {
    --color1: white;
    --color2: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: green;
}

.white {
    color: var(--color1)
}

.products {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.product {
    background-color: violet;
    padding: 1em;
    border-radius: 1em;
    max-width: 250px;
    text-decoration-color: #EAEDED;
}

.product .product_img {
    width: 200px;
}

.product .product_img img {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    padding: 0 1rem;
    width: 100%;
    background-color: #EAEDED;
}

.menu {
    position: fixed;
    background-color: var(--color1);
    left: 0;
    width: 100%;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 0.5rem;
    transform: translateX(200%);
    transition: transform 0.5s;
}

.menu_show {
    transform: translateX(0);
}

.icon_menu {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: var(--color3);
    font-size: large;
}

.icon_menu {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--color3);
}

.menu_show {
    transform: translateX(0);
}

.menu .active {
    color: var(--color2);
}

.menu a:hover {
    background-color: var(--color2);
    color: var(--color1);
    border-radius: 5%;
    transition: ease-in 0.4s;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity 0.5s transform 0.5s;
}

button:hover {
    opacity: 0.7;
}

button:active {
    transform: scale(0.9)
}

.btn {
    margin-top: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;
}

.cartShopping {
    cursor: pointer;
    transition: opacity 0.5s;
}

.amountProduct {
    padding: 1px;
    background-color: salmon;
    border-radius: 30%;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.content__cartShopping {
    position: relative;
}

.content__cartShopping span {
    position: absolute;
}

.sidebar_cart {
    width: 40%;
    height: 100vh;
    background-color: salmon;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    margin-right: -100%;
    transition: margin-right 0.5s;
}

.cartShopping {
    z-index: 200;
    cursor: pointer;
}

.show_sidebar_cart {
    margin-right: 0;
}

.footer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.titulo {
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content {
    font-size: small;
}

.home {
    padding: 50px;
}

.productos {
    padding: 50px;
}

.piso {
    font-size: 20px;
    padding: 50px;
    text-align: center;
}

.content_shopping {
    height: 80%;
    padding: 1em;
}

.content_total {
    height: 20%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    gap: 1em;
}

.shopping__img {
    width: 70px;
}

.shopping__img img {
    width: 100%;
}

.shopping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20%;
}

.shopping__header {
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: center;
}

.shopping__actions {
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.shopping__actions button {
    width: 50px;
    height: 20px;
}

.rest,
.add,
.del {
    cursor: pointer;
}

.btnBuy {
    width: 50px;
}

@media( min-width: 700px) {
    .icon_menu {
        display: none;
    }
    .navbar {
        justify-content: space-around;
        justify-items: center;
    }
    .menu {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        padding: 0;
        width: auto;
        gap: 4rem;
        transform: translateX(0);
    }
    .products {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    .footer {
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    .sidebar_cart {
        width: 25%;
    }
    .cartShopping {
        cursor: pointer;
        transition: opacity 0.5s;
        position: fixed;
    }
}